---
import Row from "@/components/Row.astro";
import type { LinkEntry } from "@teamgalena/shared/database";
import type { Page } from "@teamgalena/shared/models";
import Form from "./Form.astro";

const { page } = Astro.props as { page: Page<LinkEntry> };
const after = page.pageInfo.next;
---

<Fragment>
  {
    page.items.map(({ value }) => (
      <tr id={`link-${value.discordId}`}>
        <Row value={value} />
      </tr>
    ))
  }
  {
    after && (
      <tr class="load-more" id={`replace-${after}`}>
        <td colspan="7" align="center">
          <Form
            hx-post="/partial/page"
            hx-target={`#replace-${after}`}
            hx-swap="outerHTML"
          >
            <input
              name="size"
              type="number"
              hidden
              value={page.pageInfo.size}
            />
            <input name="after" hidden value={after} />
            <button type="submit">Load More</button>
          </Form>
        </td>
      </tr>
    )
  }
</Fragment>

<style scoped>
  .load-more {
    background: transparent !important;

    td {
      padding-top: 1em;

      button {
        min-width: 140px;
      }
    }
  }
</style>
